// colors
$white: #fff;
$black: #000;
$blue-dark: #1c243e;
$orange: #f89b27;

// fonts
$regular-font: "Open Sans", sans-serif;

// header-variables

$header-bg: $white;
$header-text: $blue-dark;
$header-button: $orange;
$header-text-hover: $orange;
